@charset "UTF-8";

@font-face{
    font-family: 'idroid';
    src: url("fontes/idroid.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#84E1AD;
}
header {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 3px solid  #1A5C38;
    margin: -10px -10px 0px -10px;
    text-shadow: 1px 1px 1px rgba(34, 179, 114, 0.744);
    box-shadow: 1px 1px 7px rgba(0, 128, 0, 0.436);
    background-image: linear-gradient(to top, #1A5C38, #3AD07D);
}
nav#menu {
    text-align: left;
    text-decoration: none;
    color: white;
}
nav > a {
    text-decoration: none;
    color: rgba(34, 237, 145, 0.929);
    border: 0px 0px 1px 0px solid green;
    padding: 5px;
    margin: 1px;
    text-shadow: none;
}
nav > a:hover {
    color: rgb(20, 137, 75);
    background-color: rgba(14, 219, 126, 0.868);
    padding: 5px;
    border-radius: 5px;
}

main {
    
    background-color: white;
    border: 50px solid white;
    margin: 0px 150px 20px 150px;;

}
h2 {
    font-family: 'idroid';
    color: green;
}

h3 {
    font-family: 'idroid';
    color: green;
    background-color: lightgreen;
}

div {
    background-color: green;
    padding-left: 50px;
    padding-right: 50px;
    
}

.video { 
    background-color: green;
    position: relative;
    padding-bottom: 56.25%; 
    padding-left: 10%;
    padding-right: 100px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
