@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/;
}

body {
    background-image: linear-gradient(to right, #042940, #005C53);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #7a7f5ac3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D6D58E;
    text-align: center;
    text-shadow: 1px 1px 2px #78774da4 ;
}

h2 {
    color:#005C53;
}

p {
    text-align: justify;
}